@font-face {
    font-family: "SF Compact Display";
    src: url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
}
@font-face{
    font-family: "SF Compact Display Semibold";
    src: url("../fonts/SF-Compact-Display-Semibold.woff") format("woff");
}
@font-face{
    font-family: "SF Compact Display Regular";
    src: url("../fonts/SF-Compact-Display-Regular.woff") format("woff");
}
@font-face{
    font-family: "Cera Compact Pro";
    src: url("../fonts/CeraPro-Regular.woff") format("woff");
}
